<html>  
	<head>
		<meta charset="utf-8">
		<title>Index</title>
		<style type="text/css">
			.error{
				color: red;
			}
		</style>
	</head>
	<body>
		<h1>Login</h1>

		<script type="text/javascript">
			// document.getElementById("myform").onsubmit = function() {
			//     return isValidForm();
			// };
		</script>

		<form action='/login' method='GET'>
		  <label>Username</label><input type='text' name='username'/>
		  <label>Password</label><input type='password' name='password'/>
		  <input type='submit'/>
		</form>
		<h1>Sign Up</h1>
		<form action='/signup' method='GET' id="myform" onsubmit="return isValidForm()">
		  <label>Username</label><input id="usrInput" type='text' name='username'/>
		  <label>Password<span id="pwNotice"></span></label><input id="pw" type='password' name='password'/>
		  <input type='submit'/>
		  <p>Strong passwords should: has more than 8 characters, contain at least 1 lowercase alphabetical char, 1 uppercase alphabetical char, 1 numeric char, 1 special char(including"@#$%^&")</p>
		  <div class="error">
		  	<%= errorText %>
		  </div>
		</form>

		<!-- zhuowei's edit: pw validation -->
		<script type="text/javascript">

			var pwInput = document.getElementById("pw")
			var usrInput = document.getElementById("usrInput")
			var pw = pwInput.value
			var usr = usrInput.value;
			var pwNotice = document.getElementById("pwNotice")
			var pwStrength = 0

			var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
			var mediumRegex = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");


			pwInput.oninput = function() {
				pw = pwInput.value

				if(pwInput != "") {
					if(strongRegex.test(pw)) {
                    	pwNotice.innerHTML = " strong"
                    	pwStrength = 2
                    	pwNotice.style.color = "green"
                    } else if(mediumRegex.test(pw)) {
                    	pwNotice.innerHTML = " medium"
                    	pwStrength = 1
                    	pwNotice.style.color = "orange"
                    } else if(pw.match(usr)) {
                    	pwNotice.innerHTML = " weak, don't include username in password"
                    	pwStrength = 0
                    	pwNotice.style.color = "red"
                    }
                    else {
                    	pwNotice.innerHTML = " weak"
                    	pwStrength = 0
                    	pwNotice.style.color = "red"
                    }
				} else {
					pwNotice.innerHTML = ""
				}
			}

			usrInput.oninput = function() {
				console.log(usrInput.value)
				usr = usrInput.value
			}

			function isValidForm() {
				console.log('pwStrength: ' + pwStrength)
				if(pwStrength==0) {
					alert("Password too weak!")
					return false;
				} else {
					return true;
				}
			}
			
			pwInput.onblur = function() {
				
			}

			pwInput.onfocus = function() {
				pwNotice.innerHTML = ""
			}

		</script>
	<body>
</html>  